html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container .grid {
    display: flex;

}
button {
    display:flex;
    margin: 20px auto;
    padding: 10px;

}